<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrador</title>
    <!-- Bootstrap 4 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/styles.css"/>
    <style>
        .table-divider {
            border-top: 2px solid #343a40; /* Color oscuro para la línea */
        }
    </style>
</head>
<body>
<main>
    <div class="container mt-5">
        <h1 class="pb-2 border-bottom">Red Virtual Profesores</h1>
        <a class="btn btn-success mt-4 mb-4 float-right" href="#"><i class="fas fa-plus"></i> Nuevo Host</a>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>MAC</th>
                <th>IP</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>fa:16:3e:36:49:41</td>
                <td>10.0.0.1</td>
                <td><a class="btn btn-danger" href="#"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>fa:16:3e:36:49:41</td>
                <td>10.0.0.1</td>
                <td><a class="btn btn-danger" href="#"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
    <hr class="table-divider">
    <div class="container mt-5">
        <h1 class="pb-2 border-bottom">Red Virtual Alumnos</h1>
        <a class="btn btn-success mt-4 mb-4 float-right" href="#"><i class="fas fa-plus"></i> Nuevo Host</a>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>MAC</th>
                <th>IP</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>fa:16:3e:36:49:41</td>
                <td>10.0.0.1</td>
                <td><a class="btn btn-danger" href="#"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>fa:16:3e:36:49:41</td>
                <td>10.0.0.1</td>
                <td><a class="btn btn-danger" href="#"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

</main>
</body>
</html>
